color-user-input = #0275d8

html
  position relative
  min-height 100%

body
  // Margin top by nav height
  margin-top 60px
  // Margin bottom by footer height
  margin-bottom 60px

nav
  .container
    position relative

  .navbar-brand
    &::after
      content ">>"
      position absolute
      left -22px
      top -51px
      font-size 80px
      color #ddd
      z-index -1
      font-weight bold
      letter-spacing -16px

aside
  .row
    margin-bottom 1em

.container.add
  .row
    margin-bottom 2em

  form
    input[type=text]
      outline none
      border none
      padding 0
      color color-user-input

    input[name=name]
      position relative
      top -2px

.footer
  position absolute
  bottom 0
  width 100%
  // Set the fixed height of the footer here
  height 60px
  background-color #f5f5f5
