@import 'h5bp'

/* ===== Initializr Styles =====================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body
  font 16px/26px Helvetica, Helvetica Neue, Arial

.wrapper
	width 90%
	margin 0 5%

//@import 'themes/dark'
@import 'themes/orange'

@import 'ie'
@import 'media-queries'
@import 'helpers'
@import 'print'
