extends layout

block nav
  include nav

block content
  .row
  article
    header
      h1 Available Forwards:
    table
      thead
        tr
          th Name
          th Uses
          th Last Used
      tbody
        each fwd in forwards
          tr.editable
            td
              if fwd.dynamic
                = fwd.name
              else
                a(href=fwd.target)= fwd.name
            td= fwd.uses
            td= fwd.accessed ? moment(fwd.accessed).fromNow() : 'never'
