extends layout

block nav
  include nav

block content
  article
    header
      h1 Available Forwards:
    table
      thead
        tr
          th Name
          th Uses
      tbody
        each fwd in forwards
          tr
            td
              a(href=fwd.target)= fwd.name
            td= fwd.uses
            td
              a(href='_forward/#{fwd._id}/edit') (edit)
