extends layout

block nav
  include nav

block content
  article
    header
      h1 Welcome to fwd
    p
      code fwd 
      | is a URL redirector that uses pretty labels for its shortened urls.
      | You can see a few of the common and recently used ones on this page.
      | Alternatively, you can browse them all or add new ones.
    unless host.length
      section
        h2 Sorry
        p Couldn't determine your hostname, so personalized forwards won't be available.

  aside
    if host.length
      h3= host[0]
      //
        ul
          li
            a(href='/') Test
    h3 Latest
    ul
      each fwd in latest
        li
          unless fwd.dynamic
            a(href=fwd.target)= fwd.name
          else
            = fwd.name
    h3 Popular
    ul
      each fwd in popular
        unless fwd.dynamic
          li
            a(href=fwd.target)= fwd.name
    h3 Recent
    ul
      each fwd in recent
        unless fwd.dynamic
          li
            a(href=fwd.target)= fwd.name
