extends layout

block content
  article
    header
      h1 Welcome to #{title}
      if host.length
        p welcome... #{host[0]}
      else
        p Couldn't determine your hostname, personalized redirects won't be available.
    section
      h2 article section
      p lorem ipsum dolar sit amet...

  aside
    h3 aside
    p lorem ipsum
