extends layout

block content
  article
    header
      h1 Welcome to #{title}
      p welcome...
    section
      h2 article section
      p Your host is #{host}

  aside
    h3 aside
    p lorem ipsum
