extends base

block head
  title
    | fwd
    if title
      | -- 
      = title
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='/javascripts/lib/modernizr-2.5.3-respond-1.1.0.min.js')

block body

  #header-container
    header.wrapper.clearfix
      #logo
        span &gt;
        span &gt;
      h1#title
        a(href='/') fwd
      nav
        block nav

  #main-container
    #main.wrapper.clearfix
      block content

  #footer-container
    footer.wrapper
      block footer
      .attribution
        | fwd v#{version} //
        a(href='http://github.com/kurakin/fwd') github.com/kurakin/fwd

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", type='text/javascript')
  script(type='text/javascript').
    window.jQuery || document.write('<script src="/javascripts/lib/jquery-1.7.2.min.js"><'+'/script>');
  script(type='text/javascript', src='/javascripts/app.js')