extends base

block head
  title
    | fwd
    if title
      | --
      = title
  link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/glyphicons.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='/javascripts/lib/modernizr-2.5.3-respond-1.1.0.min.js')

block body

  nav.navbar.navbar-fixed-top.navbar-light.bg-faded
    .container
      a.navbar-brand(href='/')
        | fwd
      block nav

  .container(class=typeof page !== 'undefined' ? page : undefined)
    block content

  footer.navbar.navbar-fixed-bottom.navbar-light.bg-faded
    block footer
    .attribution.pull-xs-right
      | fwd v#{version} //
      a(href='http://github.com/wasche/fwd') github.com/wasche/fwd

  script(src="/jquery/dist/jquery.min.js")
  script(src="/underscore/underscore-min.js")
  script(src="/tether/dist/js/tether.min.js")  
  script(src="/bootstrap/dist/js/bootstrap.min.js")
  script(src="/backbone/backbone-min.js")
  script(type='text/javascript', src='/javascripts/app.js')
