extends base

block head
  title
    | fwd
    if title
      | --
      = title
  link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/glyphicons.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(type='text/javascript').
    var appName = "#{app ? 'app/' + app : 'app'}";
  script(type='text/javascript', data-main='/javascripts/config', src='/requirejs/require.js')

block body

  nav.navbar.navbar-fixed-top.navbar-light.bg-faded
    .container
      a.navbar-brand(href='/')
        | fwd
      block nav
  
  .container(class=typeof page !== 'undefined' ? page : undefined)
    block content

  footer.navbar.navbar-fixed-bottom.navbar-light.bg-faded
    block footer
    .attribution.pull-xs-right
      | fwd v#{version} //
      a(href='http://github.com/wasche/fwd') github.com/wasche/fwd
