extends layout

block nav
  include nav

block content
  if error
  #error.err= error

  h1 Login
  form(method='post', action='/_login')
    input(type='hidden', name='redirectTo', value=redirectTo)
    .row.form-group
      label.form-control-label.col-sm-2(for='username') Username
      .col-sm-10.col-md-3
        input.form-control(type='text', name='username', placeholder='username')
    .row.form-group
      label.form-control-label.col-sm-2(for='password') Password
      .col-sm-10.col-md-3
        input.form-control(type='password', name='password', placeholder='password')
    .row.form-group
      .col-sm-10.col-sm-offset-2
        button.btn.btn-secondary(type='submit') Login
