color_bg = #111
color_text = #e0e0e0
color_shadow = #1c1c1c
color_edge = #292929
color_edge_border = #222
color_nav_bg = #1f1f1f
color_nav = #e0e0e0
color_nav_hover = #ddd
color_sel_bg = #222
color_sel = #fff
color_title = #fff
color_logo = #555

color_form_inline_border = #eee
color_text_aside = #fff
color_link = #00e
color_link_hover = #06e
color_link_visited = #551a8b