cream = #faf7eb
gold = #e4ba54
green = #6f9a4b
darkGreen = #466835
rust = #8a3a2f
darkGrey = #222


color_bg = cream

color_edge = green
color_edge_border = darkGreen

color_title = #fff
color_logo = gold


color_text = darkGrey

color_shadow = darkGrey

color_nav_bg = darkGreen
color_nav = #fff
color_nav_hover = #ddd

color_sel_bg = rust
color_sel = cream
