white = #fff
subtle = #f0f0f0
pale = #e0e0e0
gray = #444
shadow = #202020
black = #000


color_bg = white

color_edge = transparent
color_edge_border = transparent

color_title = shadow
color_logo = pale


color_text = shadow
color_text_aside = shadow

color_link = gray
color_link_hover = black
color_link_visited = shadow

color_shadow = transparent

color_nav_bg = subtle
color_nav = gray
color_nav_hover = black

color_sel_bg = shadow
color_sel = white

color_form_inline_border = shadow
