med_orange = #f16529
drk_orange = #e44d26

color_bg = #fff
color_text = #222
color_shadow = #aaa
color_edge = med_orange
color_edge_border = drk_orange
color_nav_bg = drk_orange
color_nav = #fff
color_nav_hover = #fff
color_sel_bg = med_orange
color_sel = #fff
color_title = #fff
color_logo = #222
color_form_inline_border = #222