extends ../layout

block nav
  include ../nav

block content
  article
    header
      h1 Edit Forward
    form.inline(method='post', action='/_forward/#{fwd.id}')
      fieldset
        p
          | Make http://hostname/
          input(type='text', name='name', placeholder='pretty-name', size=18, value=fwd.name)
          |  redirect to 
          input(type='text', name='url', placeholder='http://target.url/', size=30, value=fwd.target)
          | .
      fieldset
        input(type='submit', value='Save')