extends ../layout

block nav
  include ../nav

block content
  article
    header
      h1 Edit Forward
    form(method='post', action='/_forward/#{fwd.id}')
      fieldset
      fieldset
        input(type='submit', value='Save')