html
  background-color color_bg
  color color_text

//
// Menu
//

nav
  a
    display block
    margin-bottom 10px
    padding 15px 0
    background color_nav_bg
    color color_nav
    text-align center
    text-decoration none
    font-weight bold
    &:hover,
    &:visited
      color color_nav_hover
    &:hover
      text-decoration underline

//
// Main
//

#main
  padding 30px 0

  article h1
    font-size 2em

  aside
    color color_text_aside
    padding 0px 5% 10px
    border-top 20px solid color_edge_border

    dd
      code
        font-size 80%

#footer-container
  footer
    color color_text
    padding 20px 0

    .attribution
      float right
      font-size 80%
      font-style italic

#header-container
  border-bottom 20px solid color_edge_border

  header
    position relative
    z-index 0
    h1
      letter-spacing 0.25em

    #logo
      font-weight bold
      font-size 1500%
      letter-spacing -0.2em
      position absolute
      top 60px
      left -60px
      z-index -1
      color color_logo
      opacity 0.3

#header-container,
#main aside
	background color_edge

#title
  color color_title

#header-container #title a
  color color_title
  text-decoration none

form.inline
  input[type=text]
    border 1px solid color_form_inline_border
    border-width 0 0 1px 0
    padding 0
    background-color color_bg
  input[type=checkbox]
    margin-right 2px

fieldset.hosts
  margin-left 1em
  legend
    margin-left -1em

.edit
  float right
  font-size 80%
  // display none
  color color_edit