//
// Menu
//

nav
  a
    display block
    margin-bottom 10px
    padding 15px 0
    background #e44d26
    color white
    text-align center
    text-decoration none
    font-weight bold
    &:hover,
    &:visited
      color white
    &:hover
      text-decoration underline

//
// Main
//

#main
  padding 30px 0

  article h1
    font-size 2em

  aside
    color white
    padding 0px 5% 10px

#footer-container footer
  color white
  padding 20px 0
