@media only screen and (min-width: 768px)

  //
  // CSS3 Effects
  //

  #header-container,
  #main aside
    -webkit-box-shadow 0 5px 10px color_shadow
    -moz-box-shadow 0 5px 10px color_shadow
    box-shadow 0 5px 10px color_shadow

  //
  // Menu
  //

  #title
    float left

  nav
    float right
    width 38%

  //
  // Main
  //

  #main
    article
      float left
      width 57%

    aside
      float right
      width 28%
