extends ../layout

block nav
  include ../nav

block content
  article
    header
      h1 Edit User
    form
      fieldset
        label(for='name') Name:
        if user.name
          span= user.name
        else
          span (not set)
      fieldset.hosts
        legend Hosts:
        each host in user.hosts
          .host
            = host
            | (edit)
            | (delete)
        span (add)