$width = 500px
$height = 250px

.addForm
  display none
  flex-direction column
  &.container.is-fluid
    margin 0

  .content p
    margin-bottom 12px
    text-align center

#App.add
  top "calc(50vh - %s)" % ($height / 2)
  bottom "calc(50vh - %s)" % ($height / 2)
  left "calc(50vw - %s)" % ($width / 2)
  right "calc(50vw - %s)" % ($width / 2)
  transition top 1s, left 1s, bottom 1s, right 1s

  .addForm
    display flex
