footer
  display flex
  flex-direction row
  justify-content space-between

  dt
    font-weight bold
    margin-bottom .5em

  dd
    line-height 1.2em
    &:hover
      cursor pointer
      color gray

  #App.add &
    padding 5px 1em

    dt
      display inline-block
      margin-right 8px

    dd
      display inline-block
      &:nth-child(n+2)
        margin-left 5px
