.header
  display flex
  flex-direction row
  margin-left -8px
  margin-bottom -5px
  min-height 32px

  h1
    flex-grow 1
    font-size 32px
    font-weight bold
    font-style italic
  a
    &:nth-child(n+2)
      margin-left 1em

  #App.log-in &
    a
      display none

  #App.browse &
    margin-left 0
    margin-bottom 0
    padding 5px 1em
