global-reset()

#Home
  align-self center
  max-width 350px

  header
    display flex
    flex-direction row
    margin-left -8px
    margin-bottom -5px
    h1
      flex-grow 1
      font-size 32px
      font-weight bold
      font-style italic
    a
      &:nth-child(n+2)
        margin-left 1em

  p
    line-height 1.2em
    text-align justify
    margin-bottom 2em

  .lists
    display flex
    flex-direction row
    justify-content space-between

    dt
      font-weight bold
      margin-bottom .5em

    dd
      line-height 1.2em
      &:hover
        cursor pointer
        color gray
